@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #A8518A, #6DC7DE);
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    cursor: default;
}

#logo {
    position: relative;
    height: 70px;
    left: -6.25vw;
    top: 5px;
}

span {
    color: skyblue;
}

#l1span, #l2span, #l3span, #l4span, #l5span, #l6span, #l7span, #l8span, #l9span, #l10span {
    color: white;
}

#mobilelog:hover{
    opacity: 0.75;
    cursor: default;
}

#log:hover{
    opacity: 0.75;
    cursor: pointer;
}

nav {
    position: relative;
    right: -5vw;
    flex: 1;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    padding: 15px;
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    border-right: solid #fff 1px;
    padding-right: 10px;
}

.mobilelog{
    visibility: hidden;
}


@media screen and (max-width: 795px) {

    .navbar {
        margin-bottom: 7vw;
    }

    nav{
        display: none;
    }

    #logo {
    position: static;
    height: 18vw;
    left: 0;
    top: 0;
    }

    .navbar{
        justify-content: center;
    }

    .mobilelog{
        visibility: visible;
    }

    .mobilelog table{
        width: 100%;
        table-layout: fixed;
    }

    .mobilelog table tr td{
        font-size: 18px;
        text-align: center;
        color: white;
    }
}