@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');


body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #A8518A, #6DC7DE);
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

#logo {
    position: relative;
    height: 70px;
    left: -6.25vw;
    top: 5px;
}

span{
    color: skyblue; 
}

#l1span, #l2span, #l3span, #l4span, #l5span, #l6span, #l7span, #l8span, #l9span, #l10span{
    color: white;
}

nav {
    position: relative;
    right: -5vw;
    flex: 1;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    padding: 15px;
    list-style: none;
}


.navbar li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    border-right: solid #fff 1px;
    padding-right: 10px;
}

@media screen and (max-width: 908px) {
    body {
        background-image: linear-gradient(to bottom right, yellow, yellow);
    }
    .navbar {
        height: 5%;
        display: flex;
        align-items: center;
    }
    nav {
        width: 50%;
        height: 50px;
    }
    #logo{
        height: 45px;
    }
    nav ul{
        position: relative;
        right: 85px;
        width: 120%;
    }
  }

  @media screen and (max-width: 483px) {
    body {
        background-image: linear-gradient(to bottom right, green, green);
    }
    .navbar {
        height: 5%;
        display: flex;
        align-items: center;
    }
    nav {
        position: relative;
        top: 10vw;
        width: 0%;
        height: 50px;
    }
    #logo{
        position: relative;
        height: 45px;
        left: 19vw;
    }
    nav ul{
        position: relative;
        top: 4vw;
        width: 90vw;
        left: -59.5vw;
    }
    #usergreet, #level, #log{
        font-size: 3.25vw;
    }
    .navbar li a {
        border-right: none;
    }
  }

  @media screen and (max-width: 451px) {
    body {
        background-image: linear-gradient(to bottom right, red, red);
    }
    .navbar {
        height: 5%;
        display: flex;
        align-items: center;
    }
    nav {
        position: relative;
        top: 10vw;
        width: 0%;
        height: 50px;
    }
    #logo{
        position: relative;
        height: 45px;
        left: 19.75vw;
    }
    nav ul{
        position: relative;
        top: 4vw;
        width: 90vw;
        left: -58.5vw;
    }
    #usergreet, #level, #log{
        font-size: 3.25vw;
    }
    .navbar li a {
        border-right: none;
    }
  }

  @media screen and (max-width: 400px) {
    body {
        background-image: linear-gradient(to bottom right, blue, blue);
    }

    .navbar {
        height: 5%;
        display: flex;
        align-items: center;
    }
    nav {
        position: relative;
        top: 10vw;
        width: 0%;
        height: 50px;
    }
    #logo{
        position: relative;
        height: 45px;
        left: 15vw;
    }
    nav ul{
        position: relative;
        top: 4vw;
        width: 90vw;
        left: -63.5vw;
    }
    #usergreet, #level, #log{
        font-size: 3.25vw;
    }
    .navbar li a {
        border-right: none;
    }
  }

  @media screen and (max-width: 331px) {
    body {
        background-image: linear-gradient(to bottom right, white, white);
    }
    .navbar {
        height: 5%;
        display: flex;
        align-items: center;
    }
    nav {
        position: relative;
        top: 10vw;
        width: 0%;
        height: 50px;
    }
    #logo{
        position: relative;
        height: 45px;
        left: 13.5vw;
    }
    nav ul{
        position: relative;
        top: 7vw;
        width: 90vw;
        left: -70.5vw;
    }
    #usergreet, #level, #log{
        font-size: 3vw;
    }
    .navbar li a {
        border-right: none;
    }
  }