body {
    margin: 0;
    background-image: linear-gradient(#6DC7DE, #A8518A);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
}

* {
    color: #373435;
}

.top {
    background-image: linear-gradient(to bottom right, #A8518A, #EC268F);
    top: 0;
    border-bottom: 0.23vw solid #373435;
}

h1 {
    margin: 0;
}

#logo {
    height: 6.24vw;
    width: 29.60vw;
    border-radius: 0;
    float: none;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1.56vw;
}

#link {
    position: relative;
    top: -1.95vw;
    right: -50vw;
    font-size: 1.25vw;
    text-align: center;
}

#link2 {
    position: relative;
    top: -1.95vw;
    right: -55vw;
    font-size: 1.25vw;
    text-align: center;
}

.desc {
    width: 39.06vw;
    height: 35.15vw;
    font-size: 1.25vw;
    position: absolute;
    margin-left: 5vw;
    top: 19.53vw;
    text-align: justify;
}

#lpimage {
    height: 31.25vw;
    width: 42.96vw;
    border-radius: 1.17vw;
    float: right;
    margin-right: 5vw;
    margin-top: 4.68vw;
}

#photo {
    height: 5vw;
    /*50 px height and width*/
    width: 5vw;
    border-radius: 0;
    float: none;
    margin-right: 0;
    margin-top: 0;
}

.team {
    border: 0.23vw solid #373435;
    background-color: #6DC7DE;
    border-radius: 1.17vw;
    width: 39.06vw;
    height: auto;
    position: relative;
    display: block;
    left: 30vw;
    padding: 0.78vw;
    top: 50.72vw;
    font-size: 1.25vw;
}

.centertext {
    text-align: center;
}

table {
    margin: auto;
}

table td {
    padding: 0.78vw;
}

.line {
    position: relative;
    top: 6.25vw;
    margin: auto;
    clear: both;
    margin: 2.34vw;
}

.line2 {
    position: relative;
    top: 53.23vw;
    margin: auto;
    clear: both;
    margin: 2.34vw;
}

@media only screen and (max-width: 700px) {
    .top {
        border-bottom: 0.50vw solid #373435;
    }
    
    h1 {
        margin: 0;
    }
    
    #logo {
        height: 10.24vw;
        width: 40vw;
        border-radius: 0;
        float: none;
        margin-right: 0;
        margin-top: 0;
        padding-left: 1.56vw;
    }
    
    #link {
        position: relative;
        top: -4vw;
        right: -38vw;
        font-size: 1.75vw;
        text-align: center;
    }
    
    #link2 {
        position: relative;
        top: -4vw;
        right: -43vw;
        font-size: 1.75vw;
        text-align: center;
    }
    
    .desc {
        width: 40vw;
        height: 35.15vw;
        font-size: 1.75vw;
        position: absolute;
        margin-left: 5vw;
        top: 19.53vw;
        text-align: justify;
    }
    
    #lpimage {
        height: 34.25vw;
        width: 45.96vw;
        border-radius: 1.17vw;
        float: right;
        margin-right: 4vw;
        margin-top: 12vw;
    }
    
    #photo {
        height: 5vw;
        /*50 px height and width*/
        width: 5vw;
        border-radius: 0;
        float: none;
        margin-right: 0;
        margin-top: 0;
    }
    
    .team {
        border: 0.23vw solid #373435;
        background-color: #6DC7DE;
        border-radius: 1.17vw;
        width: 45vw;
        height: auto;
        position: relative;
        display: block;
        left: 28vw;
        padding: 0.78vw;
        top: 62vw;
        font-size: 1.75vw;
    }
    
    .centertext {
        text-align: center;
    }
    
    table {
        margin: auto;
    }
    
    table td {
        padding: 0.78vw;
    }
    
    .line {
        position: relative;
        top: 11vw;
        margin: auto;
        clear: both;
        margin: 2.34vw;
    }
    
    .line2 {
        position: relative;
        top: 60.23vw;
        margin: auto;
        clear: both;
        margin: 2.34vw;
    }
}