@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #A8518A, #6DC7DE);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.top table {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    table-layout: fixed;
}

.top table tr td a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.top table tr td a:hover {
    opacity: 0.75;
}

#logo {
    height: 70px;
}

.description {
    margin-top: 25px;
}

.description table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.description table tr td {
    width: 50%;
}

.description table tr td:nth-child(2) {
    text-align: right;
}

.description p {
    text-indent: 40px;
    font-size: 14px;
    text-align: justify;
}

#lpimage {
    height: 31.47vw;
    width: 41.71vw;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

#lpimage:hover {
    box-shadow: 0 0 10px #ffffffb2, 0 0 10px #ffffffb2, 0 0 10px #ffffffb2;
}

.line,
.line2 {
    border: 1px solid white;
    width: 95%;
}

.team {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #70d1e9;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team .centertext {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.team table {
    width: 100%;
    text-align: center;
}

.team table tr td img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

.team table tr td img:hover {
    height: 200px;
}

@media screen and (max-width: 1193px) {
    .description table {
        border: 1px solid lime;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
      }
      
    .description td {
        border: 1px solid red;
        text-align: center;
        margin: 0 auto;
        display: block;
      }  
    .description table tr td:nth-child(2){
        text-align: center;
    }
    #lpimage{
        height: 35vw;
        width: 100%;
    }
    #logo{
        height: 7vw;
    }
    .top table tr td a{
        font-size: 2vw;
    }
    .description table tr td p{
        font-size: 2vw;
    }
    .team{
        overflow: hidden;
    }
    .team table tr td{
        font-size: 2vw;
    }
    .team table tr td img{
        object-fit: cover;
        aspect-ratio: 1 / 1;
        height: 3.9vw;
        transition: all 0.5s ease-in-out;
    }

    .team table tr td img:hover {
        height: 15.625vw;
        width: 15.625vw;
    }
}

@media screen and (max-width: 500px) {
    .team{
        font-size: 2.80vw;
    }
}

@media screen and (min-width: 1280px) {
    #lpimage{
        height: 401.6px;
        width: 533.9px;
    }
}